# ============================
# PYTHON & ENVIRONMENT
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jika ingin dataset ikut repo (tidak disarankan jika besar),
# hapus baris di atas.

# ============================
# OS SPECIFIC
# ============================
.DS_Store
Thumbs.db

# ============================
# IDE / EDITOR
# ============================
.vscode/
*.code-workspace
